<%include ../partials/header %>

<div class="container" style="margin-top: 50px">
    <div class="tile is-ancestor">
        <div class="tile is-parent analytics-card" id="analytics-card-1">
            <div class="tile is-child box">
                <span class="card-close-button" id="card-close-button-1">
                    &times;
                </span>
                <div id="cash-flow-small" class="card-title-small">
                    <span class="title is-5 cash-inflow-title">Cash Inflow</span>
                    <span class="is-6" id="cash-inflow-date">...</span>
                    <span class="title is-3 has-text-success" id="cash-inflow-value">...</span>
                    <span id="describe-cash-inflow" style="display: none;">describe</span>
                </div>
                <div id="card-date-select-region">
                    <div class="columns">
                        <div class="column is-4">
                            <label for="from_date_cash_inflow" class="label">From</label>
                            <input type="text" class="input date-picker" id="from_date_cash_inflow"><button
                                class="button is-success clear-button "><i class="fas fa-times"></i></button>
                        </div>
                        <div class="column is-4">
                            <label for="to_date_cash_inflow" class="label">To</label>
                            <input type="text" class="input date-picker" id="to_date_cash_inflow"><button
                                class="is-success button clear-button"><i class="fas fa-times"></i></button>
                        </div>
                        <div class="column" id="inflow-warehouse-select-container">
                            <label for="inflow-warehouse-select" class="label">Warehouse</label>
                            <div class="select">
                                <select id="inflow-warehouse-select">

                                </select>
                            </div>
                        </div>
                    </div>
                    <div id="cash-inflow-chart-container">
                        <canvas id="cash-inflow-chart" width="400" height="150"></canvas>
                    </div>
                </div>
            </div>
        </div>
        <div class="tile is-parent analytics-card" id="analytics-card-2">
            <div class="tile is-child box">
                <span class="card-close-button" id="card-close-button-2">
                    &times;
                </span>
                <div id="sale-small" class="card-title-small">
                    <span class="title is-5 sale-title">Sale</span>
                    <span class="is-6" id="sale-date">...</span>
                    <span class="title is-3 has-text-success" id="sale-value">...</span>
                </div>
            </div>
        </div>
        <div class="tile is-parent analytics-card" id="analytics-card-3">
            <div class="tile is-child box">

            </div>
        </div>
        <div class="tile is-parent analytics-card" id="analytics-card-4">
            <div class="tile is-child box">

            </div>
        </div>
    </div>
    <div class="my-4 p-5 border rounded-md shadow-md ">
        <h1 class="text-lg mb-4">Filters</h1>
        <div class="columns">
            <div class="column">
                <h1 class="mb-2">Rented</h1>
                <div class="columns">
                    <div class="column">
                        <!-- Bulma input -->
                        <div class="field">
                            <label class="label">From</label>
                            <div class="control">
                                <input class="input" id="rented-from" type="number" placeholder="From">
                            </div>
                        </div>
                    </div>
                    <div class="column">
                        <div class="field">
                            <label class="label">To</label>
                            <div class="control">
                                <input class="input" id="rented-to" type="number" placeholder="To">
                            </div>
                        </div>
                    </div>
                    <div class="column">
                        <!-- Bulma checkbox -->
                        <div class="field">
                            <div class="control">
                                <label class="checkbox">
                                    <input type="checkbox" id="rented-checkbox">
                                    <span>Toggle 0</span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- tailwind horizontal separator -->

            <div class="column">
                <h1 class="mb-2">Balance</h1>
                <div class="columns">
                    <div class="column">
                        <!-- Bulma input -->
                        <div class="field">
                            <label class="label">From</label>
                            <div class="control">
                                <input class="input" id="balance-from" type="number" placeholder="From">
                            </div>
                        </div>
                    </div>
                    <div class="column">
                        <div class="field">
                            <label class="label">To</label>
                            <div class="control">
                                <input class="input" id="balance-to" type="number" placeholder="To">
                            </div>
                        </div>
                    </div>
                    <div class="column">
                        <!-- Bulma checkbox -->
                        <div class="field">
                            <div class="control">
                                <label class="checkbox">
                                    <input type="checkbox" id="balance-checkbox">
                                    <span>Toggle 0</span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card p-5">
        <table id="customer-table" class="table is-striped is-hoverable" style="width: 100%;">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Customer</th>
                    <th>Customer Type</th>
                    <th>District</th>
                    <th>Billed By</th>
                    <th>Total Sale</th>
                    <th>Due</th>
                    <th>Rented items</th>
                    <th>Balance</th>
                </tr>
            </thead>
            <tbody>

            </tbody>
            <tfoot>
                <tr>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </tfoot>
        </table>
    </div>

</div>

<div class="modal" id="cash-inflow-table-modal">
    <div class="modal-background"></div>
    <div class="modal-content">
        <div class="card">
            <table id="cash-inflow-table" class="table is-striped is-hoverable" style="width: 100%;">
                <thead>
                    <tr>
                        <th>Ledger ID</th>
                        <th>Customer</th>
                        <th>Type</th>
                        <th>Date</th>
                        <th>Debit</th>
                        <th>Credit</th>
                        <th>Warehouse</th>
                        <th>User</th>
                        <th>Bill</th>
                    </tr>
                </thead>
                <tbody>

                </tbody>
                <tfoot>
                    <tr>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </tfoot>
            </table>
        </div>

    </div>
    <button class="modal-close is-large" aria-label="close"></button>
</div>

<%include ../partials/footer %>