<script src="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.js"></script>
<script src="/javascripts/lib/filepond.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.22/js/dataTables.bulma.min.js"></script>
<script src="/javascripts/lib/select2.min.js"></script>
<script src="/javascripts/script.js"></script>
<% if (typeof dependency !== 'undefined') { %>
    <script src="/javascripts/<%=dependency %>"></script>
<% } %>
</body>
</html>