<!-- Filepond plugin image preview -->
<!-- Filepond -->
<!-- Jquery data tables -->
<!-- Datatable bulma -->
<!-- Select 2 -->
<!-- Nepali date picker -->
<script src="/javascripts/lib/dependencies.min.js"></script>
<% if (typeof autocomplete !== 'undefined' && autocomplete) { %>
    
<% } %>
<script src="/javascripts/script.js"></script>
<% if (typeof dependency !== 'undefined') { %>
    <script src="/javascripts/<%=dependency %>"></script>
<% } %>
</body>
</html>