<%include ../partials/header %>


<div class="container">
    <div class="columns">
        <div class="column">
            <h1 class="title">Warehouses</h1>
        </div>
        <div class="column is-3">
            <div class="field is-grouped is-grouped-right">
                <div class="control">
                    <button class="button is-success is-rounded" onclick="window.location.href = '/warehouse/add'"
                        id="add-customer">
                        <span class="icon">
                            <i class="fas fa-plus fa-xs"></i>
                        </span>
                        <span>
                            New Warehouse
                        </span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div id="users-panel" class="columns is-multiline">
        <% for(let i = 0; i < warehouses.length; i++){ var warehouse = warehouses[i]; %>
        <div class="column is-4">
            <div class="card custom-card" onclick="window.location.href = '/warehouse/<%= warehouse.id %>'">
                <div class="card-content">
                    <div class="content">
                        <h1 class="title is-4"><%= warehouse.name %></h1>
                    </div>
                </div>
            </div>
        </div>
        <% } %>
    </div>
</div>


<%include ../partials/footer %>