@font-face {
  font-family: 'Lobster';
  src: url('/fonts/Lobster-Regular.ttf');
  /* IE9 Compat Modes */
}

.auth-container {
  width: 600px;
  margin: auto;

  margin-top: 1rem;
}

.auth-container .title {
  text-align: center;
}

.auth-title {
  font-family: 'Lobster';
  text-align: center;
  font-weight: 500;
}

.auth-card-footer {
  font-size: 12px;
  margin-top: 10px;
  margin-left: 1px;
}

nav.navbar {
  box-shadow: 2px 2px 4px 4px rgba(200, 200, 200, 0.4);
  margin-bottom: 30px;

  .logout-button {
    transition: all 200ms ease-in;
    font-weight: 400;
  }

  .logout-button:hover {
    background-color: rgba(230, 230, 230, 0.5);
  }

}

.navbar-start {
  .navbar-item {
    font-weight: 700;
  }
}

.dt-bulma {
  .select {
    width: 83px;
  }
}



#inventory-item-container {
  img {
    max-height: 200px;
    width: auto;
  }

  .title {
    margin-bottom: 0.8rem;
  }

  .edit {
    position: absolute;
    right: 10px;
    top: 10px;
    width: 20px;
    height: 20px;
    padding: 0;
    color: rgb(50, 50, 50);
    background-color: rgb(250, 250, 250);
    border: none;
    font-size: 0.65rem;
    border-radius: 100px;
  }

  .inventory-description {
    font-size: 0.85rem;
    margin-bottom: 0;
  }
}

.filepond--root,
.filepond--root .filepond--drop-label {
  height: 100%;
}

.filepond-container {
  height: 82px;
}

.select,
select {
  width: 100%;
}

.notification {
  margin-top: -1rem;
  margin-left: 1rem;
  margin-right: 1rem;
  padding: 0.6rem;
  font-size: 0.83rem;
}


#inventory-edit-container {
  width: 50%;
  min-width: 200px;
  margin: auto;

}

#confirm-delete .modal-card {
  width: 420px;
}

#inventory-edit-container {
  img {
    height: 160px;
    margin: auto;
    display: block;
    width: auto;
  }
}

.inventory-card {
  transition: all 200ms ease-in;
  border-radius: 20px;
  cursor: pointer;
}

.inventory-card:hover {
  background-color: rgba($color: #cfe6f1, $alpha: 0.4);
}

.description-container {
  img {
    height: 200px;
    width: auto;
  }
}

.breadcrumb {
  margin-bottom: 30px;
}

.type-edit-button, .type-delete-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: all 200ms ease-in-out;
}

.type-edit-button:active, .type-delete-button:active {
  border: none;
}

.type-edit-button:hover, .type-delete-button:hover {
  font-size: 1.1rem;
}

.field-label {
  .label {
    margin-top: 8px;
    text-align: center;
    font-weight: 500;
  }
}