<%include ../partials/header %>
<div class="container">
    <div class="columns">
        <div class="column">
            <h1 class="title">New Record</h1>
        </div>
    </div>

    <div class="columns">
        <div class="column">
            <div class="column">
                <div class="field">
                    <div class="control">
                        <label for="track_id" class="label">Track ID</label>
                        <input type="text" disabled readonly value="1231092" class="input">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="columns">
        <div class="column">
            <div class="field">
                <div class="control">
                    <label for=""></label>
                </div>
            </div>
        </div>
        <div class="column">

        </div>
    </div>
</div>

<%include ../partials/footer %>