<%include ../partials/header %>

<div class="container" style="margin-bottom: 200px;">
    <h1 class="title">Add New Customer</h1>
    <form action="/customer" method="POST" id="add-new-customer-form">
        <h5 class="title is-5">Name</h5>
        <div class="columns">
            <div class="column">
                <div class="field">
                    <div class="control has-icons-left">
                        <input type="text" class="input" id="first_name" name="first_name" placeholder="First Name">
                        <span class="icon is-left is-small">
                            <i class="fas fa-user"></i>
                        </span>
                        <p style="display: none;" class="help is-danger">Please Enter First Name Or Organization</p>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="field">
                    <div class="control has-icons-left">
                        <input type="text" class="input" id="last_name" name="last_name" placeholder="Last Name">
                        <span class="icon is-left is-small">
                            <i class="fas fa-user">
                            </i>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <h5 class="title is-5">Organization</h5>
        <div class="columns">
            <div class="column">
                <div class="field">
                    <div class="control has-icons-left">
                        <input type="text" class="input" id="organization" name="organization"
                            placeholder="Organization">
                        <span class="icon is-left is-small">
                            <i class="fas fa-building"></i>
                        </span>
                        <p style="display: none;" class="help is-danger">Please Enter First Name Or Organization</p>
                    </div>
                </div>
            </div>
        </div>
        <h5 class="title is-5">Details</h5>
        <div class="columns">
            <div class="column">
                <div class="field">
                    <div class="control has-icons-left">
                        <input type="email" class="input" id="email" name="email" placeholder="Email">
                        <span class="icon is-left is-small">
                            <i class="fas fa-envelope"></i>
                        </span>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="field has-addons">
                    <p class="control">
                        <span class="select">
                            <select id="phone-code" name="phone_code">
                                <option value="+977">+977</option>
                                <option value="+91">+91</option>
                            </select>
                        </span>
                    </p>
                    <p class="control is-expanded">
                        <input class="input" type="text" placeholder="Phone" id="phone" name="phone">
                    </p>
                </div>
            </div>
        </div>
        <h5 class="title is-5">Address</h5>
        <div class="columns">
            <div class="column">
                <div class="field">
                    <div class="control has-icons-left">
                        <input type="text" class="input" id="address" name="address" placeholder="Address">
                        <span class="icon is-left is-small">
                            <i class="fas fa-address-card"></i>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="columns">
            <div class="column">
                <div class="field">
                    <div class="control">
                        <label for="zone" class="label">Anchal</label>
                        <div class="select is-fullwidth">
                            <select name="zone" id="zone">
                                <option value="" selected disabled></option>
                                <% for(let i=0; i< zones.length; i++) { const zone = zones[i]; %>
                                <option value="<%=zone.id%>"><%=zone.value;%></option>
                                <% } %>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="field">
                    <div class="control">
                        <label for="district" class="label">Jilla</label>
                        <div class="select is-fullwidth">
                            <select name="district" id="district">
                                <option value="" disabled selected></option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="field">
                    <div class="control">
                        <label for="post_office" class="label">City/Postal Code</label>
                        <div class="select is-fullwidth">
                            <select name="post_office" id="post_office">
                                <option value="" disabled selected></option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <h5 class="title is-5">Customer Type</h5>
        <div class="columns">
            <div class="column is-10">
                <div class="field">
                    <div class="control has-icons-left">
                        <div class="select">
                            <select name="customer_type" id="customer_type">
                                <option value="" selected disabled></option>
                                <% for(let i=0; i< types.length; i++) { const type = types[i]; %>
                                <option value="<%=type.id%>"><%=type.name%></option>
                                <% } %>
                            </select>
                            <p style="display: none;" class="help is-danger">Please Select Customer Type</p>
                        </div>
                        <span class="icon is-left is-small">
                            <i class="fas fa-user-tag"></i>
                        </span>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="field is-grouped is-grouped-right">
                    <p class="control">
                        <a href="/customer/customer-type" class="button is-info is-rounded">Customer Types</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="set-rates" style="display: none;">
            <h5 class="title is-5">Rates</h5>
            <table class="table is-bordered is-fullwidth">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Inventory Name</th>
                        <th>Packing</th>
                        <th>Rate</th>
                        <th>Default</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
            <template>
                <tr>
                    <td class="inventory-id">1</td>
                    <td class="inventory-name"></td>
                    <td class="packing-name"></td>
                    <td>
                        <div class="field">
                            <div class="control has-icons-left">
                                <input type="number" class="input" min="0" step="any">
                                <span class="icon is-left is-small">
                                    Re.
                                </span>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="field">
                            <div class="control">
                                <button type="button"
                                    class="button is-small is-info is-rounded is-light">Default</button>
                            </div>
                        </div>
                    </td>
                </tr>
            </template>
        </div>
        <div class="field is-grouped is-grouped-right">
            <p class="control">
                <button class="button is-large is-success is-rounded">Submit</button>
            </p>
            <p class="control">
                <a href="/customer" class="button is-large is-light is-rounded">
                    Cancel
                </a>
            </p>
        </div>

    </form>
</div>

<script>
</script>

<%include ../partials/footer %>