<%include ../partials/header %>
<div class="container" style="margin-bottom: 300px;">
    <div class="columns">
        <div class="column">
            <h1 class="title">Bill</h1>
        </div>
    </div>

</div>

<%include ../partials/footer %>